/* Login.css */
.container {
  max-width: 400px;
}

h2 {
  text-align: center;
}

button {
  width: 100%;
  background-color: #77d4e4;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #77d4e4;
}

input {
  width: 100%;
}

input[type="password"] {
  margin-bottom: 20px;
}
